.popular{
    color: #1a1a1a;
    margin-top: 200px;
    .container{
        .course_boxes{
            .price_box {
                width: 100%;
                height: 67px;
                background: #eaebec;
                margin-top: 41px;
                padding-left: 35px;
                .course_author_name{
                    font-size: 14px;
                    font-weight: 500;
                    color: #1a1a1a;
                    padding-left: 20px;
                    margin-top: 7px;
                }
                .course_price {
                    width: 67px;
                    height: 67px;
                    background: #ffb606;
                    margin-left: auto;
                }
            }
            
        }
    }
}